doctype html
html 
    head
        title Valorant
        style 
            include css/styles.css 
    body
        header.jumbotron-fluid.bg-success.p-3
            h1.text-center.text-white#{nadpis}
        main.container
            table 
                thead
                    tr 
                        th The Best Map
                        th The Worst Map 
                        th The Best Duelist
                        th The Best Controler
                        th The Best Initiator
                        th The Best Sentinel
                tbody
                    each vysledek in vysledky
                        tr
                            td #{vysledek.bestmap}       
                            td #{vysledek.worstmap}
                            td #{vysledek.duelists}
                            td #{vysledek.controlers}
                            td #{vysledek.initiators}
                            td #{vysledek.sentinels}
        footer.bg-dark.p-2
            .container.text-white
                p.float-right
                    a(href="/") Zpět na formulář
                p &copy; 2022 -IT2 -NodeJS
        
